@{
    ViewBag.Title = "Save Student";
}

<h2 class="alert alert-info">Success Page</h2>
<hr />
<p>Your Student is saved Successfully.</p>
<br />
@Html.ActionLink("Back To Students", "Index", null, new { @class = "btn btn-info" })